{%- extends "basic/layout.html" %}
{% set extra_scripts = ["_static/js/bootstrap.min.js", "_static/js/scroll.js"] %}
{% set script_files = script_files + extra_scripts %}

{%- block extrahead %}
  {{ super() }}
  <link rel="stylesheet" href="{{ pathto('_static/css/custom.css', 1) }}" type="text/css" />
  {% if theme_touch_icon %}
    <link rel="apple-touch-icon" href="{{ pathto('_static/' ~ theme_touch_icon, 1) }}" />
  {% endif %}
  {% if theme_canonical_url %}
    <link rel="canonical" href="{{ theme_canonical_url }}{{ pagename }}.html"/>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />
  <script type= "text/javascript">
    $(function() {
    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        var hash = this.hash;
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({scrollTop: target.offset().top - 120}, 1000, function () {
            location.hash = hash;
          });
          return false;
        }
      }
    });
  });
  </script>
{% endblock %}

{# Disable base theme's top+bottom related navs; we have our own in sidebar #}
{%- block relbar1 %}{% endblock %}
{%- block relbar2 %}{% endblock %}

{# Nav should appear before content, not after #}
{% set bs_span_prefix = "col-md-" %}
{%- set render_sidebar = (not embedded) and (not theme_nosidebar|tobool) and sidebars %}
{%- set bs_content_width = render_sidebar and "9" or "12"%}
{%- macro bsidebar() %}
      {%- if render_sidebar %}
      <div class="{{ bs_span_prefix }}3">
        <div id="sidebar" class="bs-sidenav" role="complementary">
          {%- for sidebartemplate in sidebars %}
            {%- include sidebartemplate %}
          {%- endfor %}
        </div>
      </div>
      {%- endif %}
  {%- endmacro %}

{% block content %}
  {% include "navbar.html" %}
  <div class="container">
    <div class="row">
      {%- block sidebar1 %}{{ bsidebar() }}{% endblock %}
      <div class="{{ bs_span_prefix }}{{ bs_content_width }} content">
        {% block body %}{% endblock %}
      </div>
      {% block sidebar2 %} {# possible location for sidebar #} {% endblock %}
    </div>
  </div>
{% endblock %}

{%- block footer %}
  {% include "footer.html" %}
{%- endblock %}
