{% set theTocTree = toctree(collapse = False, maxdepth = 1)
  | replace('<p class="caption">', "Header: ")
  | replace('</p>', "")
  | replace("<ul>", "List: ")
  | replace('<ul class="current">', "List: ")
  | replace("</ul>", "")
%}
<div>
  {% set list = theTocTree.split("Header: ") %}
  {% for section in list[1:] %}
    {% set subSection = section.split("List: ") %}
    <div class = "dropdown">
      {% for item in subSection %}
        {% if loop.index == 1 %}
        <div type = "button" class = "btn dropdown" data-toggle = "collapse" data-target = ".menu">
          <h3> {{ item | striptags }}</h3>
        </div>
        {% else %}
        <ul class = "collapse menu">
          {{ item }}
        </ul>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
